@{
    ViewBag.Title = "Gallery Tools";
}

<h2>=^..^=</h2>
<h3>Migration Status</h3>
<form>
    <p>Migrations status <span data-bind="text: migrationStatus.SubjectsInDatabase"></span> subject(s) in database, 
      <span data-bind="text: migrationStatus.SubjectsInFileSystem"></span> in file system.</p>
    <button type="submit" id="migrationStatusButton">Get Status</button>
</form>

@section AfterScripts {
    <script src="~/Scripts/gallerytools.js"></script>
}
