@{
    ViewBag.Title = "Gallery Tools";
}

<h2>Migration Status</h2>

<p>Migrations status <span data-bind="text: migrationStatus().SubjectsInDatabase"></span> subject(s) in database, 
    <span data-bind="text: migrationStatus().SubjectsInFileSystem"></span> in file system.</p>
<p data-bind="text: systemProgress()"></p>
<div class="btn btn-info" data-bind="click: updateMigrationStatus">Get Status</div>
<div class="btn btn-info" data-bind="click: runMigration">Run Migration</div>

@section AfterScripts {
    <script src="~/Scripts/gallerytools.js"></script>
}
