@{
    ViewBag.Title = "Gallery Tools";
}

<h2>=^..^=</h2>
<h3>Migration Status</h3>
<form>
    <p id="migrationStatusDisplay">&nbsp;</p>
    <button type="submit" id="migrationStatusButton">Get Status</button>
</form>
